<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/{username}(username=${user.getUsername()})}" th:object="${user}">
    <label for="username">Enter username:</label>
    <input type="text" th:field="*{username}" id="username" />
    <br />
    <br />
    <label for="password">Enter password:</label>
    <input type="text" th:field="*{password}" id="password" />
    <br />
    <br />
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name" />
    <br />
    <br />
    <label for="lastName">Enter lastName:</label>
    <input type="text" th:field="*{lastName}" id="lastName" />
    <br />
    <br />
    <label for="email">Enter e-mail:</label>
    <input type="text" th:field="*{email}" id="email" />
    <br />
    <br />

    <ul>
        <li th:each="roles : ${role}">
            <input type="checkbox" name="roles" th:field="*{roles}" th:value="${roles}" th:text="${roles}" />

        </li>
    </ul>
    <br />
    <br />
    <input type="submit" value="Update" />
</form>



<br>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>